.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.blank{
  color:red;
}
.centered{
  text-align:center;
}
.left
{
  text-align:left;
}
.right
{
  text-align:right;
}
/* App.css */

.button-center {
  display: flex;
  justify-content: center;
  margin-right: 10px; /* Add space to the right of each button */
  align-items: center; /* For vertical alignment */
  
}

.button-left {
  display: flex;
  margin-right: auto;
  align-items: center;
  margin-right: 10px; /* Add space to the right of each button */
}

.button-right {
  margin-left: auto;
  display: flex;
  
  align-items: center;
  margin-right: 10px; /* Add space to the right of each button */
  
}

/* flex is used to move the container and the button */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px; /* Adjust as needed */
 
}
.text-with-border {
  border: 2px solid black;
  padding: 10px;
  display: inline-block;
}

